
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
/*    background-color: green;
*/}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
/*    background-color:green;
*/}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

